body, html {
  height: 100vh; }

body {
  font-family: 'Roboto', sans-serif;
  color: #22222b; }

.text-center {
  text-align: center; }

.main {
  background-image: url(../img/bg/welcome-bg.jpg);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 42px;
  box-sizing: border-box; }

.header {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.wrapper {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; }

.nav_list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none; }

.nav_item {
  margin-left: 23px; }

.nav_link {
  text-decoration: none;
  color: #22222b;
  border-bottom: 1px solid transparent;
  transition: 0.3s; }
  .nav_link:hover {
    border-bottom: 1px solid #22222b; }

.main_title {
  text-align: center;
  font-size: 60px;
  font-weight: 300; }
  .main_title span {
    font-weight: 500; }

.btn-scroll {
  background-color: tranparent;
  border: none;
  display: block;
  margin: 0 auto; }

.section-about {
  padding-top: 240px; }
  .section-about .about_title {
    margin-bottom: 20px;
    margin-top: 12px; }

.about {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.about_item {
  flex: 0 0 46%;
  max-width: 46%;
  position: relative; }
  .about_item:first-child {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 50%;
    max-width: 50%; }

.about_title {
  font-size: 48px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px; }

.about_text {
  color: #7f7f82;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 48px; }

.item_back {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -108px; }

.item_back-text {
  position: absolute;
  left: -4;
  letter-spacing: 1.6px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  bottom: 58px;
  font-size: 16px; }
  .item_back-text::after {
    content: "";
    display: block;
    width: 1px;
    height: 45px;
    background-color: #22222b;
    position: absolute;
    right: 9px;
    top: 93px; }

.progress-bar {
  font-size: 16px;
  font-weight: 500; }

.progress-bar_text {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  margin-bottom: 21px; }
  .progress-bar_text:last-child {
    margin-bottom: 0; }

.progress-bar_line {
  width: 100%;
  height: 2px;
  background-color: #22222b;
  position: relative; }
  .progress-bar_line::before {
    content: "";
    background-image: url(../img/cursor.png);
    background-repeat: no-repeat;
    display: block;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 0;
    top: calc(50% - 5.5px); }
  .progress-bar_line::after {
    content: "";
    position: absolute;
    right: 0;
    display: block;
    height: 2px;
    background-color: #f2f2f2; }

.progress-bar_id::after {
  width: 35%; }

.progress-bar_xd::after {
  width: 20%; }

.section-services {
  background-color: #faf9fe; }

.service {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr; }

/*# sourceMappingURL=style.css.map */
