$dark: #22222b;
$light: #faf9fe;
$text: #7f7f82;

body, html {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $dark;
}

.text-center {
  text-align: center;
}

.main {
  background-image: url(../img/bg/welcome-bg.jpg);
  background-position: center center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 42px;
  box-sizing: border-box;
}

.header {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.wrapper {
  max-width: 90vw;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.nav_list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.nav_item {
  margin-left: 23px;
}

.nav_link {
  text-decoration: none;
  color: $dark;
  border-bottom: 1px solid transparent;
  transition: 0.3s;

  &:hover {
    border-bottom: 1px solid $dark;
  }
}

.main_title {
  font-size: 60px;
  text-align: center;
  font-weight: 300;
  position: relative;
  padding: 6px 29px;
  &::before {
    background-image: url(../img/before-title.png);
    left: 0;
    top: 0;
    content: '';
    display: block;
    background-repeat: no-repeat;
    width: 28px;
    height: 21px;
    position: absolute;
  }
  &::after {
    background-image: url(../img/after-title.png);
    right: 0;
    bottom: -4px;
    content: '';
    display: block;
    background-repeat: no-repeat;
    width: 28px;
    height: 22px;
    position: absolute;
  }
  span {
    font-weight: 500;
  }
}

.btn-scroll {
  background-color: tranparent;
  border: none;
  display: block;
  margin: 0 auto;
}

.section-about {
  padding-top: 240px;
  padding-bottom: 132px;
  
  .about_title {
    margin-bottom: 20px;
    margin-top: 12px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_item {
  flex: 0 0 46%;
  max-width: 46%;
  position: relative;
  &:first-child {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.about_title {
  font-size: 48px;
  font-weight: 500;
  margin-top: 12px;
}

.about_text {
  color: $text;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.item_back {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -108px;
}

.item_back-text {
  position: absolute;
  left: -4px;
  letter-spacing: 1.6px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  bottom: 58px;
  font-size: 16px;
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 45px;
    background-color: $dark;
    position: absolute;
    right: 9px;
    top: 93px;
  }
}

.progress-bar_text {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  margin-bottom: 21px;
  &:last-child {
    margin-bottom: 0;
  }
}

.progress-bar_line {
  width: 100%;
  height: 2px;
  background-color: $dark;
  position: relative;
  &::before {
    content:"";
    background-image: url(../img/cursor.png);
    background-repeat: no-repeat;
    display: block;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 0;
    top: calc(50% - 5.5px);
  }
  &::after {
    content:"";
    position: absolute;
    right: 0;
    display: block;
    height: 2px;
    background-color: #f2f2f2;
  }
}

.progress-bar_id {
  &::after {
    width: 35%;
  }
}

.progress-bar_xd {
  &::after {
    width: 20%;
  }
}

.section-services {
  background-color: $light;
  padding-top: 120px;
  padding-bottom: 100px;
}

.services_title {
  font-size: 48px;
  font-weight: 500;
  margin-top: 0;
}

.service {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  grid-gap: 31px 48px;
  margin-top: 65px;
  margin-bottom: 30px;
  &_text {
    color: $text;
    font-size: 14px;
    line-height: 1.8;
  }
  &_link {
    color: $dark;
    font-size: 14px;
    text-decoration: none;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
  }
  &_link-text {
    opacity: 0;
    width: 0;
    padding-right: 0;
    transition: 0.4s ease-in-out;
  }
  &_link-line {
    display: block;
    width: 25px;
    height: 1px;
    background-color: #22222b;
  }
  &_icon {
    background-repeat: no-repeat;
    display: block;
    width: 44px;
    height: 37px;
    margin-bottom: 30px;
  }
  &_design {
    background-image: url(../img/files/gd_icon.png);
    background-size: 41px 35px;
  }
  &_photo {
    background-image: url(../img/files/ph_icon.png);
    background-size: 43px 35px;
  }
  &_web {
    background-image: url(../img/files/wd_icon.png);
    background-size: 41px 35px;
  }
  &_social {
    background-image: url(../img/files/sm_icon.png);
    background-size: 37px 37px;
  }
  &_marketing {
    background-image: url(../img/files/mar_icon.png);
    background-size: 44px 37px;
  }
  &_app {
    background-image: url(../img/files/ad_icon.png);
    background-size: 37px 37px;
  }
  
}

.service_title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 18px;
}

.after-title {
  font-size: 16px;
  color: $text;
}

.section-portfolio {
  padding-top: 123px;
  padding-bottom: 161px;
}

.portfolio_title {
  font-size: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

.portfolio {
  display: grid;
  grid-template: repeat(7, 88px)/1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 83px;
}

.portfolio_thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.work_1 {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.work_2 {
  grid-column: 2 / 3;
  grid-row: 1 / 5;
}

.work_3 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}

.work_4 {
  grid-column: 1 / 2;
  grid-row: 4 / 8;
}

.work_5 {
  grid-column: 2 / 3;
  grid-row: 5 / 8;
}

.work_6 {
  grid-column: 3 / 4;
  grid-row: 4 / 8;
}

.section-banner {
  padding-top: 72px;
  padding-bottom: 113px;
  background-color: #22222b;
  color: #fff;
  text-align: center;
}

.before-title {
  font-size: 22px;
  margin-bottom: 0;
}

.banner_title {
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 42px;
  font-weight: 400;
}

.btn {
  color: #22222b;
  background-color: #fff;
  padding: 12px 57px;
  font-size: 16px;
  text-decoration: none;
  border: none;
}

.section-feedback {
  padding-top: 122px;
  padding-bottom: 158px
}

.feedback_wrapper {
  position: relative;
}

.feedback_title {
  font-size: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

.slider_control {
  display: block;
  position: absolute;
  border-right: 3px solid #464d62;;
  border-top: 3px solid #464d62;;
  border-radius: none;

  &-left {
    transform: rotate(227deg);
    left: -14px;
    top: 248px;  
  }

  &-right {
    transform: rotate(404deg);
    right: -14px;
    top: 248px;
  }
}

.slider_control-pic {
  width: 15px;
  height: 15px;
}

.feedback {
  display: flex;
  justify-content: space-between;
  margin-top: 66px;
  list-style-type: none;
  overflow: hidden;
}

.feedback_item {
  flex: 0 0 45%;
  max-width: 45%;
}

.feedback_top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 56px;
}

.feedback_thumb {
  margin-right: 20px;
}

.feedback_reviewer-name {
  font-size: 22px;
  margin-top: 14px;
  margin-bottom: 11px;
}

.feedback_reviewer-position {
  font-size: 12px;
  color: #7f7f82;
}

.feedback_body {
  font-size: 18px;
  color: #7f7f82;
  font-style: italic;
  padding-left: 28px;
  line-height: 1.8;
}

.section-achievements {
  padding-top: 100px;
  padding-bottom: 82px;
  background-color: #faf9fe;
}

.achievements {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.achievements_icon {
  background-color: #22222b;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 27px;
}

.achievements_icon-01 {
  background-image: url(../img/icons/heart.png);
  background-size: 26px 23px;
}

.achievements_icon-02 {
  background-image: url(../img/icons/bag.png);
  background-size: 26px 23px;
}

.achievements_icon-03 {
  background-image: url(../img/icons/rounds.png);
  background-size: 26px 24px;
}

.achievements_icon-04 {
  background-image: url(../img/icons/cup.png);
  background-size: 19px 23px;
}

.achievements_title {
  font-size: 16px;
  text-transform: uppercase;
}

.achievements_title span {
  font-size: 22px;
  display: block;
  font-weight: 500;
  margin-bottom: 13px;
}

.section-form {
  padding-top: 122px;
  padding-bottom: 130px;
}

.form_title {
  font-size: 36px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 48px auto 0;
  text-align: center;
}

.form__input, .form__textarea {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 17px 25px;
  text-align: center;
  margin-bottom: 15px;
  transition: 0.3s;
  box-sizing: border-box;
}

.form__textarea {
  padding: 12px 25px;
  min-height: 86px;
  margin-bottom: 35px;
}

.form-container__btn {
  color: #fff;
  background-color: #22222b;
  font-size: 16px;
  text-decoration: none;
  padding: 20px 0;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.social_networks {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.social_networks-item {
  margin-left: 20px;
  margin-right: 20px;
}

.social_networks-link {
  color: #fff;
}

.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
  font-size: inherit;
  text-rendering: auto;
}

.zmdi-facebook:before {
  content: '\f343';
}

.zmdi-dropbox:before {
  content: '\f340';
}

.zmdi-behance:before {
  content: '\f33d';
}

.zmdi-dribbble:before {
  content: '\f33f';
}

footer {
  background-color: #22222b;
  padding-top: 64px;
  padding-bottom: 69px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0005;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.overlay__container {
  position: relative;
}

.overlay__content {
  width: 400px;
  background: #444;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font: 16px Roboto, sans-serif;
  margin: 0;
}

.close {
  font: 16px Roboto, sans-serif;
  color: #fff;
  position: absolute;
  right: -5px;
  top: -10px;
  background: #d00;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}