.section-about {
  padding-top: 240px;
  padding-bottom: 132px;
  
  .about_title {
    margin-bottom: 20px;
    margin-top: 12px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about_item {
  flex: 0 0 46%;
  max-width: 46%;
  position: relative;
  &:first-child {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.about_title {
  font-size: 48px;
  font-weight: 500;
  margin-top: 12px;
}

.about_text {
  color: $text;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.item_back {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -108px;
}

.item_back-text {
  position: absolute;
  left: -4px;
  letter-spacing: 1.6px;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  bottom: 58px;
  font-size: 16px;
  &::after {
    content: "";
    display: block;
    width: 1px;
    height: 45px;
    background-color: $dark;
    position: absolute;
    right: 9px;
    top: 93px;
  }
}

.progress-bar_text {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  align-items: center;
  margin-bottom: 21px;
  &:last-child {
    margin-bottom: 0;
  }
}

.progress-bar_line {
  width: 100%;
  height: 2px;
  background-color: $dark;
  position: relative;
  &::before {
    content:"";
    background-image: url(../img/cursor.png);
    background-repeat: no-repeat;
    display: block;
    width: 6px;
    height: 11px;
    position: absolute;
    left: 0;
    top: calc(50% - 5.5px);
  }
  &::after {
    content:"";
    position: absolute;
    right: 0;
    display: block;
    height: 2px;
    background-color: #f2f2f2;
  }
}

.progress-bar_id {
  &::after {
    width: 35%;
  }
}

.progress-bar_xd {
  &::after {
    width: 20%;
  }
}